<section class="form-simple">

<div class="card">



 <div class="header pt-3 grey lighten-2">

        <div class="row d-flex justify-content-start">
            <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Sign Up</h3>
        </div>

    </div>


  <div class="card-body mx-4 mt-4">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= bootstrap_devise_error_messages! %>

     <div class="md-form">
       <%= f.label :email , for:"Form-email4"%>
       <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', type:"text", id:"Form-email4" %>
     </div>

    <div class="md-form pb-3">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' , type:"password", id:"Form-pass4" %>

    <% if @minimum_password_length %>
      <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
    <% end %>
  </div>

  <div class="md-form pb-3">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control' , type:"password", id:"Form-pass4"  %>
  </div>

  <div class="text-center mb-4">
    <%= f.submit t('.sign_up'), class: 'btn btn-danger btn-block z-depth-2' %>
  </div>
<% end %>
</div>
 <p class="font-small grey-text d-flex justify-content-center">have an account? <%= link_to 'Sign In', new_user_session_path ,class:"dark-grey-text font-weight-bold ml-1" %> </p>

</div>

</section>