<%= form_with(model: @film, local: true) do |form| %>


  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :plot %>
    <%= form.text_area :plot %>
  </div>

  <div class="field">
    <%= form.label :poster %>
    <%= form.text_area :poster %>
  </div>

  <div class="field">
    <%= form.label :trailer %>
    <%= form.text_area :trailer %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_area :rating %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id , :value => current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
