
<section class="form-simple">

<!--Form with header-->
<div class="card">

    <!--Header-->
    <div class="header pt-3 grey lighten-2">

        <div class="row d-flex justify-content-start">
            <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Log in</h3>
        </div>

    </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="card-body mx-4 mt-4">

  <div class="md-form">
    <%= f.label :email ,for:"Form-email4"%>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' ,type:"text", id:"Form-email4" %>

    
  </div>

  <div class="md-form pb-3">
    <%= f.label :password , for:"Form-pass4"%>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control',type:"password", id:"Form-pass4"%>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group form-check">
      <%= f.check_box :remember_me, class: 'form-check-input' %>
      <%= f.label :remember_me, class: 'form-check-label' do %>
        <%= resource.class.human_attribute_name('remember_me') %>
      <% end %>
    </div>
  <% end %>

  <div class="form-group text-center mb-4">
    <%= f.submit  t('.sign_in'), class: 'btn btn-danger btn-block z-depth-2' %>
  </div>
  </div>
<% end %>
 <p class="font-small grey-text d-flex justify-content-center">Don't have an account? <%= link_to 'Sign Up', new_user_registration_path ,class:"dark-grey-text font-weight-bold ml-1" %> </p>
<%# <%= render 'devise/shared/links' %> 

</section>