


<!------ Include the above in your HEAD tag ---------->


<body class="profile-page">
   


    <div class="page-header header-filter" data-parallax="true" style="background-image:url('http://wallpapere.org/wp-content/uploads/2012/02/black-and-white-city-night.png');"></div>
    <div class="main main-raised">
		<div class="profile-content">
            <div class="container">
                <div class="row">
	                <div class="col-md-6 ml-auto mr-auto">
        	           <div class="profile">
                     
	                        <div class="avatar ">
	                            <%= image_tag @user.img,size: "200x150", :class => "rounded-circle"%>
	                        </div>
	                        <div class="name">
	                            <h3 class="title"><%= @user.first_name %> <%= @user.last_name %></h3>
								<a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
	                        </div>
	                    </div>
    	            </div>
                </div>
                <div class="description text-center">
                    <p><%= @user.bio %></p>
                </div>
                <div class = "container">


    <h3>Following: <%= current_user.followees.length %>  , Followers: <%= current_user.followers.length %> </h3>

<% if current_user.username !=  params[:user_id] %>

<% if current_user.followees.include?(User.find_by(username: params[:user_id]).id)  %>

  <%= link_to 'Unfollow', "/unfollow/#{params[:user_id]}" %>
  <% else  %>
  <%= link_to 'Follow', "/follow/#{params[:user_id]}" %>
<%end  %>


    <div>
    
    <%= link_to "Visit his dashboard" , user_dashboards_path(params[:user_id]) %>
    </div>

<% else  %>



                <%= button_to "Edit Profile" , "/profile/#{current_user.username}/edit" ,  class: "btn btn-dark" %>
				</div>
<%end  %>
        





          <div class="tab-content tab-space">
            <div class="tab-pane active text-center gallery" >
  				<div class="row">
  					<div class="col-md-3 ml-auto ">
            <% if !@user.films_id.empty? %>
  <%= image_tag Film.find(@user.films_id.sample).poster , size: "220x330" , class:"border border-secondary" %>

    <% end %>

  					</div>
  					<div class="col-md-3 mr-auto">
            <% if !@user.games_id.empty? %>
  <%= image_tag Game.find(@user.games_id.sample).poster , size: "220x330" , class:"border border-secondary" %>
<%  end %>
  					</div>


  				</div>
  			</div>

          <div class="tab-content ">
            <div class="tab-pane active text-center gallery" >
            
      			<div class="row">

      				<div class="col-md-3 ml-auto">
              <% if !@user.TvShows_id.empty?  %>
        <%= image_tag TvShow.find(@user.TvShows_id.sample).poster , size: "220x330"  , class:"border border-secondary"%>
        <%end  %>
      				</div>
              
      				<div class="col-md-3 mr-auto">
              <% if  !@user.animes_id.empty? %>
          <%= image_tag Anime.find(@user.animes_id.sample).poster , size: "220x330"  , class:"border border-secondary"%>
                     <% end  %>
      			</div>
  			</div>
          
  				</div>
  			</div>
        </div>
	</div>
	
	<footer class="footer text-center ">
        
    </footer>
    
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

</body>