
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">

<%= link_to('Home', dashboards_path,class: "nav-link navbar-brand") %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
          <%= link_to('New Film', new_film_path , class:"nav-link navbar-brand")%>
      </li>

      <li class="nav-item">
          <%= link_to('New Game', new_game_path , class:"nav-link navbar-brand")%>
      </li>

       <li class="nav-item">
          <%= link_to('New Anime', new_anime_path , class:"nav-link navbar-brand")%>
      </li>

       <li class="nav-item">
          <%= link_to('New TV Show', new_tv_show_path , class:"nav-link navbar-brand")%>
      </li>

   
      </li>
      
    </ul>
      
      <ul class= "navbar-nav mr-auto">
       <% if user_signed_in?%>
            <li class="nav-item">
      <%= link_to('Log Out', destroy_user_session_path, method: :delete , class:"nav-link navbar-brand")%>
      </li>
      <%else%>
            <li class="nav-item">

      <%= link_to('Log In', new_user_session_path , class:"nav-link navbar-brand")%> 
      </li>
            <li class="nav-item">

        <%= link_to('Sign Up', new_user_registration_path, class:"nav-link navbar-brand")%>
        </li>
  </ul>
  <%end%>
  </div>
</nav>