<!DOCTYPE html>
<html>

  <head>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300|Open+Sans:300" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

    <title>PorjectAlpha</title>
   
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style= "align-content: center;  ">

  <%= render 'layouts/nav'%>

  <div>
<%if user_signed_in?  %>

<div class="row ml-4">

<div class="m-auto">
  <%  current_user.followees.each do |followee| %>


 <%= link_to image_tag(current_user.img,size: "30x30", :class => "rounded-circle m-1"), "/profile/#{User.find(followee).username}" %> 
  <%end  %>
  
</div>

</div>

  
  
  <%end  %>
  
  </div>
  
    <%= yield %>
  </body>
</html>
